<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema de Votação</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'oi.css' %}">

    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %} ">
    <link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %} type="text/css" ">
    <link rel="stylesheet" href="{% static 'css/freelancer.min.css' %}  ">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Sistema de Votação</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'forca:home' %}">Home</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'forca:logout' %}">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->

    <!-- About Section -->
    <section>
      <div class="container">
        <div class="row">
          
        </div>
      </div>
    </section>
    {% for object in partida %}
      {% if request.user.is_authenticated %}
        {%if request.user.username == object.usuario.username%}
          {% if object.erros == 0 %}
            <img src="{% static 'img/1.png' %}" class="user-image"  >
          {% elif object.erros == 1 %}
            <img src="{% static 'img/2.png' %}" class="user-image"  >
          {% elif object.erros == 2 %}
            <img src="{% static 'img/3.png' %}" class="user-image"  >
          {% elif object.erros == 3 %}
            <img src="{% static 'img/4.png' %}" class="user-image"  >
          {% elif object.erros == 4 %}
            <img src="{% static 'img/5.png' %}" class="user-image"  >
          {% elif object.erros == 5 %}
            <img src="{% static 'img/6.png' %}" class="user-image"  >
          {% elif object.erros == 6 %}
            <img src="{% static 'img/7.png' %}" class="user-image"  >
            <meta http-equiv="refresh" content="0; url=http://127.0.0.1:8000/perdeu/">
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% for object in partida %}
      {% if request.user.is_authenticated %}
        {%if request.user.username == object.usuario.username%}
          {% if object.verificador == 1 %}
            <meta http-equiv="refresh" content="0; url=http://127.0.0.1:8000/venceu/">
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
     <section>
      <div class="container">
        <div class="row">
          {% for object in partida %}
      {% if request.user.is_authenticated %}
        {%if request.user.username == object.usuario.username%}
          {{ object.letters}}
        {% endif %}
      {% endif %}
    {% endfor %}
        </div>
      </div>
    </section>
    <form action="{% url 'forca:game' %}" method="post" >
      {% csrf_token %}
        <div class="form-group">
          <input type="hidden" id="letters" name="a" value="a" />
          <button type="submit"  class="btn btn-primary btn-xl"  >A</button>
        </div>
    </form>
    <form action="{% url 'forca:game' %}" method="post" >
      {% csrf_token %}
        <div class="form-group">
          <input type="hidden" id="letters" name="g" value="g" />
          <button type="submit" class="btn btn-primary btn-xl">G</button>
        </div>
    </form>
    <form action="{% url 'forca:game' %}" method="post" >
      {% csrf_token %}
        <div class="form-group">
          <input type="hidden" id="letters" name="d" value="d" />
          <button type="submit" class="btn btn-primary btn-xl">D</button>
        </div>
    </form>
    <form action="{% url 'forca:game' %}" method="post" >
      {% csrf_token %}
        <div class="form-group">
          <input type="hidden" id="letters" name="s" value="s" />
          <button type="submit" class="btn btn-primary btn-xl">S</button>
        </div>
    </form>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/freelancer.min.js' %}"></script>

  </body>

</html>
